<!-- <div class="flex flex-wrab gap-6 m-5">
  <div class="w-9/12">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img src="imges/slider-6.webp" class="h-[500px]" alt=""
      /></ng-template>
      <ng-template carouselSlide>
        <img
          src="imges/slider-2.webp"
          alt=""
          class="h-[500px]"
      /></ng-template>
      <ng-template carouselSlide>
        <img
          src="imges/slider-3.webp"
          alt=""
          class="h-[500px]"
      /></ng-template>
    </owl-carousel-o>
  </div>
  <div class="w-3/12">
    <img src="imges/slider-1.webp" alt="" class="h-[250px]" />
    <img
      src="imges/slider-8.webp"
      alt=""
      class="h-[250px]"
    />
  </div>
</div>
<div class="my-[10px]">Some tags after</div> -->
