<div
  class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"
>
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead
      class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default"
    >
      <tr>
        <th scope="col" class="px-6 py-3 font-medium">Product Id</th>
        <th scope="col" class="px-6 py-3 font-medium">Product isPaid</th>
        <th scope="col" class="px-6 py-3 font-medium">
          Product paymentMethodType
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Product totalOrderPrice
        </th>
      </tr>
    </thead>
    <tbody>
      @for (order of allOrder; track order.id; let i = $index) {
        <tr class="bg-neutral-primary border-b border-default">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-heading whitespace-nowrap"
          >
            {{ order.id }}
          </th>
          <td class="px-6 py-4">{{ order.isPaid }}</td>
          <td class="px-6 py-4">{{ order.paymentMethodType }}</td>
          <td class="px-6 py-4">{{ order.paymentMethodType }}</td>
          <td (click)="openModel(i)" class="px-6 py-4 fa fa-eye"></td>
        </tr>
      }
    </tbody>
  </table>
</div>
@if (showModel) {
  <div
    class="fixed inset-0 bg-slate-600 bg-opacity-60 h-screen z-20 flex items-center justify-center"
  >
    <div class="bg-white max-w-96">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-16 py-3">
                <span class="sr-only">Image</span>
              </th>
              <th scope="col" class="px-6 py-3">Product</th>
              <th scope="col" class="px-6 py-3">Qty</th>
              <th scope="col" class="px-6 py-3">Price</th>
            </tr>
          </thead>
          <tbody>
            @for (product of CartItems; track $index) {
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <td class="p-4">
                  <img
                    [src]="product.product.imageCover"
                    class="w-16 md:w-32 max-w-full max-h-full"
                    alt="Apple Watch"
                  />
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 text-main">
                  {{ product.product.title }}
                </td>
                <td class="px-6 py-4">
                  <div class="flex items-center">
                    <span>{{ product.count }}</span>
                  </div>
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 text-main">
                  ${{ product.price }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}
